$primary-color: #9b2132;
$second-primary-color: #d23944;
$light-color: #fff;
$dark-color: #1a1a1a;
$font-light: #fff;
$font-dark: #1a1a1a;
$font-yellow: #e2c18a;
$card-color: #242439;
$box-color: rgb(154, 151, 151);
