/* icon */
i {
  margin: 5px;
}

/* Button */
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 0.8rem;
  color: #fff;
  background-color: #9b2132;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: url("/assets/img/home/jacky2.png"), pointer;
}
.btn:hover {
  opacity: 0.8;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
  color: inherit;
}

/* BASE STYLES */
h3 {
  font-family: "manrope", sans-serif;
  font-size: 30px;
  text-shadow: 5px 5px 0 rgb(20, 19, 19), -2px -2px 0 rgb(29, 24, 24), 2px -2px 0 rgb(27, 15, 15), -2px 2px 0 rgb(16, 15, 15), 2px 2px 0 rgb(13, 12, 12);
}

.for-pc {
  display: block;
}

.for-sp {
  display: none;
}

.pc-sidebar {
  display: block;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* Nav Bar*/
}
.app .header {
  font-size: 28px;
  color: #e2c18a;
  padding: 30px;
  background-color: #9b2132;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
}
.app .header {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 80px;
  padding: 0 30px;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 20;
  transition: all 0.5s;
  background-color: #9b2132;
}
.app .header-left {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.app .header-left span {
  font-size: 30px;
}
.app .header-left form {
  margin-left: 50px;
  background: #fff;
  height: 30px;
  display: flex;
}
.app .header-left form input {
  flex: 1;
  border: none;
  outline: none;
}
.app .header-left form button {
  display: none;
}
.app .header-left form .fa-magnifying-glass {
  align-self: center;
  padding: 7px 10px;
  color: #1a1a1a;
}
.app .header-middle .nav {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.app .header-middle .nav-item {
  color: #fff;
}
.app .header-middle .nav-item-link {
  font-size: 25px;
  transition: all 0.4s;
}
.app .header-middle .nav-item-link:hover {
  color: #1a1a1a;
}
.app .header-middle .nav-item-link:focus {
  color: #1a1a1a;
}
.app .header-middle .nav-item-link::after {
  content: " ";
  height: 3px;
  width: 100%;
  background: #1a1a1a;
  display: block;
  opacity: 0;
  transition: all 0.4s;
}
.app .header-middle .nav-item-link:hover::after {
  opacity: 1;
}
.app .header-middle .nav-item-link:focus::after {
  opacity: 1;
}
.app .header-right {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  list-style: none;
  font-size: 25px;
}
.app .header-right .nav-item {
  transition: all 0.4s;
}
.app .header-right .nav-item:hover {
  color: #1a1a1a;
}
.app .header-right .nav-item:focus {
  color: #1a1a1a;
}
.app .header-right .nav-item::after {
  content: " ";
  height: 3px;
  width: 100%;
  background: #1a1a1a;
  display: block;
  opacity: 0;
  transition: all 0.4s;
}
.app .header-right .nav-item:hover::after {
  opacity: 1;
}
.app .header-right .nav-item:focus::after {
  opacity: 1;
}
.app .active {
  background: #9b2132;
}
.app .main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.app .main .pc-sidebar {
  display: flex;
  width: 30%;
  background-color: #e2c18a;
}
.app .main .pc-sidebar .sidebar {
  font-size: 28px;
  background-color: #e2c18a;
  color: #9b2132;
  padding: 50px;
  margin-top: 50px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 500px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.app .main .pc-sidebar .sidebar h3 {
  font-size: 40px;
  padding: 20px;
}
.app .main .pc-sidebar .sidebar a {
  text-decoration: none;
  color: #9b2132;
  padding: 20px;
}
.app section .category .title {
  font-size: 60px;
  margin: 50px;
  padding-top: 100px;
  color: #fff;
}
.app section .category .cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.app section .category .cards .card {
  width: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app section .category .cards .card img {
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  width: 60%;
  height: 100%;
}
.app section .category .cards .card .item-name {
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 20px;
}
.app section .category .cards .card .btn-order {
  text-decoration: none;
  display: inline-block;
  margin: 1rem 0 4rem 0;
  padding: 1rem 2rem;
  color: #e2c18a;
  background-color: #9b2132;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: url("/assets/img/home/jacky2.png"), pointer;
}
.app section .category .cards .card .btn-order:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  @import url("https://fonts.googleapis.com/css?family=Varela+Round");
  html,
body {
    overflow-x: hidden;
    height: 100%;
  }
  .for-pc,
.pc-sidebar,
.sidebar,
.section,
.sidebar-title {
    display: none !important;
  }
  .for-sp {
    display: block;
  }
  .hamberger {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #9b2132;
    position: fixed;
    height: 70px !important;
    overflow: hidden;
    z-index: 10;
    color: #fff;
  }
  .header-left {
    padding-top: 10px;
  }
  .main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
  }
  .mainInner {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .mainInner div {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
  }
  #sidebarMenu {
    height: 100%;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: #9b2132;
  }
  .sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    position: -webkit-sticky;
    position: sticky;
  }
  .sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
  .sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  input[type=checkbox]:checked ~ #sidebarMenu {
    transform: translateX(0);
  }
  input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
  }
  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
  }
  .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
  }
  .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
  }
  .title {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .card img {
    width: 20%;
    height: 20%;
  }
}/*# sourceMappingURL=shopping.css.map */