@import "variables";
@import "utilities";

// *::-webkit-scrollbar {
//   width: 0;
// }
// *::-webkit-scrollbar-track {
//   background: transparent;
// }
// *::-webkit-scrollbar-thumb {
//   background: transparent;
//   border: none;
// }
// * {
//   -ms-overflow-style: none;
// }
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

/* BASE STYLES */

h3 {
  font-family: "manrope", sans-serif;
  font-size: 30px;
  text-shadow: 5px 5px 0 rgb(20, 19, 19), -2px -2px 0 rgb(29, 24, 24),
    2px -2px 0 rgb(27, 15, 15), -2px 2px 0 rgb(16, 15, 15),
    2px 2px 0 rgb(13, 12, 12);
}

/* NORMAL STYLES */

/* Nav Bar*/
.header {
  background-color: transparent;
  // background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 80px;
  padding: 0 30px;
  color: $font-light;
  // opacity: 0.8;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 20;
  transition: all 0.5s;

  &-left {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;

    span {
      font-size: 30px;
    }

    form {
      margin-left: 50px;
      background: $light-color;
      height: 30px;
      display: flex;

      input {
        flex: 1;
        border: none;
        outline: none;
        // border-radius: 25px;
      }

      button {
        display: none;
      }

      .fa-magnifying-glass {
        align-self: center;
        padding: 7px 10px;
        color: $font-dark;
      }
    }
  }

  &-middle {
    .nav {
      display: flex;
      column-gap: 40px;

      &-item {
        color: $light-color;

        &-link {
          font-size: 23px;
          transition: all 0.4s;

          &:hover {
            color: $font-dark;
          }

          &:focus {
            color: $font-dark;
          }

          &::after {
            content: " ";
            height: 3px;
            width: 100%;
            background: $font-dark;
            display: block;
            opacity: 0;
            transition: all 0.4s;
          }

          &:hover::after {
            opacity: 1;
          }

          &:focus::after {
            opacity: 1;
          }
        }
      }
    }
    .hamburger {
      display: none;
      cursor: pointer;

      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: $font-light;
      }
    }
  }

  &-right {
    display: flex;
    column-gap: 20px;
    list-style: none;
    font-size: 25px;

    .nav-item {
      transition: all 0.4s;

      &:hover {
        color: $dark-color;
      }

      &:focus {
        color: $font-dark;
      }

      &::after {
        content: " ";
        height: 3px;
        width: 100%;
        background: $font-dark;
        display: block;
        opacity: 0;
        transition: all 0.4s;
      }

      &:hover::after {
        opacity: 1;
      }

      &:focus::after {
        opacity: 1;
      }
    }
  }
}

.active {
  background: $primary-color;
}

// Main section - hero
.hero {
  background: url("../assets/img/home/hero.jpg") no-repeat center center/cover;

  // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6))
  height: 100vh;
  position: relative;
  color: $light-color;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
    text-transform: capitalize;

    &-text {
      font-size: 55px;
      margin-top: 100px;
      position: relative;
      text-transform: uppercase;
      font-family: "manrope", sans-serif;
      text-shadow: 5px 5px 0 rgb(20, 19, 19), -2px -2px 0 rgb(29, 24, 24),
        2px -2px 0 rgb(27, 15, 15), -2px 2px 0 rgb(16, 15, 15),
        2px 2px 0 rgb(13, 12, 12);
    }
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero * {
  z-index: 10;
}

///// review section ////////////////////////////////////////////
.reviews {
  padding: 20px 30px;
  background-color: $second-primary-color;
  // background-color: $primary-color;
  height: 50vh;
  h3 {
    padding: 10px 0;
    font-size: 30px;
    color: $font-light;
  }
  div {
    font-size: 35px;
    color: $dark-color;
  }
}
//////////////////////////
.content {
  font-size: 20px;
  width: 600px;
  height: 250px;
  &:nth-child(1) {
    // background-color: $light-color;
    background-color: $card-color;
  }
  &:nth-child(2) {
    // background-color: $light-color;
    background-color: $card-color;
  }
  &:nth-child(3) {
    // background-color: $light-color;
    background-color: $card-color;
  }
  &:nth-child(4) {
    // background-color: $light-color;
    background-color: $card-color;
  }
}

/* slide rail flame */
.wrap {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: auto;
  padding-top: 15px;
  padding-bottom: 20px;
}
/* slides block*/
.slideshow {
  display: flex;
  -webkit-animation: loop-slide 20s infinite linear 1s both;
  animation: loop-slide 20s infinite linear 1s both;
}
@-webkit-keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* hover action -stop */
.slide-paused:hover .slideshow {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
/* hover action */
.content-hover {
  padding: 20px 40px;
  margin: 0 50px;
  color: $font-yellow;

  display: flex;
  align-items: flex-start;

  transition: all 0.2s;
  margin-right: 20px;
  &:hover {
    transform: translateY(-20px);
    border-radius: 0 10%;
    box-shadow: 0 3px 10px 0 #333;
    opacity: 0.8;
    cursor: pointer;
  }
}

@media screen and (max-width: 1050px) {
  .reviews {
    height: auto;
  }
  .wrap {
    height: auto;
    // padding-bottom: 20px;
  }
  .content {
    width: 400px;
    height: 150px;
    font-size: 20px;
  }
  .content-hover {
    padding: 20px 10px;
    margin: 0 10px;
    color: $font-yellow;
  }
}
@media screen and (max-width: 700px) {
  .reviews {
    height: auto;
    h3 {
      padding: 5px 0;
      font-size: 20px;
    }
  }
  .wrap {
    height: auto;
  }
  .content {
    width: 250px;
    height: 160px;
    font-size: 15px;
  }
  .content-hover {
    padding: 20px 10px;
    margin: 0 10px;
    color: $font-yellow;
  }
}

/////////////// Footer ///////////////////////

footer {
  height: 50vh;
  // background-color: $light-color;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  column-gap: 20%;
  padding: 20px 20px;
  h3 {
    color: $font-yellow;
    font-size: 30px;
    padding-bottom: 10px;
  }
  p {
    margin: 0px 0;
    font-size: 20px;
    color: $font-light;
  }
  .footer-right {
    padding: 0 10px;
    margin-top: 10px;
  }

  .footer-left {
    padding: 0 10px;
  }
  .contact-us {
    i {
      color: $font-light;
      margin: 5px 5px;
      padding: 5px 5px;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 0;
    column-gap: 0;
  }
  .footer-sns {
    // display: flex;
    padding-top: 45px;
  }
  .footer-sns.icons {
    padding: 10px 0;
    i {
      padding: 0px 20px;
      height: 20px;
      color: $font-light;
    }
  }
}
.btn-footer {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 0.8rem;
  // color: $light-color;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: url("/assets/img/home/jacky2.png"), pointer;

  &:hover {
    opacity: 0.8;
  }
}
@media screen and (max-width: 1050px) {
  footer {
    column-gap: 5%;
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  footer {
    height: auto;
    h3 {
      font-size: 20px;
    }
    height: auto;
    flex-wrap: wrap;
    row-gap: 30px;
    .contact-us {
      margin-top: 50px;
    }
    .footer-sns {
      padding-top: 10px;
    }
  }
  iframe {
    width: auto;
  }
  .footer-contact {
    row-gap: 0;
    .contact-us {
      margin: 0;
    }
  }

  .address {
    font-size: 15px;
  }
}

/////////////////////
footer {
  font: 16px Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.c-icon {
  width: 36px;
  height: 36px;
  fill: currentColor;
  transition: 0.2s;
}

.c-link--facebook:hover {
  color: #3b5998;
}
.c-link--twitter:hover {
  color: #55acee;
}
.c-link--google:hover {
  color: #dd4b39;
}
.c-link--pinterest:hover {
  color: #bd081c;
}
.c-link--instagram:hover {
  color: #833ab4;
}
.c-link--snapchat:hover {
  color: #fbe00f;
}
.c-link--facebook:hover::after {
  background: #3b5998;
}
.c-link--twitter:hover::after {
  background: #55acee;
}
.c-link--google:hover::after {
  background: #dd4b39;
}
.c-link--pinterest:hover::after {
  background: #bd081c;
}
.c-link--instagram:hover::after {
  background: #833ab4;
}
.c-link--snapchat:hover::after {
  background: #fbe00f;
}

.c-link {
  position: relative;
  color: #bbb;
}

.c-link:not(:last-of-type) {
  margin-right: 15px;
}

.c-tooltip::before,
.c-tooltip::after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  opacity: 0;
  transition: 0.2s;
}

.c-tooltip::before {
  content: "";
  bottom: calc(100% + 2px);
  border: solid 5px transparent;
  border-top-color: currentColor;
}

.c-tooltip::after {
  content: attr(aria-label);
  bottom: calc(100% - 80px);
  padding: 0.61em 0.93em;
  font-size: 0.875rem;
  color: white;
  border-radius: 3px;
}

.c-tooltip:hover::before,
.c-tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%);
}

.pens-link-container {
  flex-basis: 100%;
  font-size: 0.9rem;
  text-align: center;
}

.pens-link {
  margin-bottom: 0;
  background: white;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  border: none;
}
@media screen and (max-width: 800px) {
  .c-tooltip::after {
    content: none;
  }
}

// About ///////////////////////////////////////////////////////////

.about-header {
  background: url(/assets/img/about/background.jpg) no-repeat center
    center/cover;
  height: 80vh;
  object-fit: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, 0.2);
  }
}
.about__img {
  display: inline-block;
  position: absolute;
  width: 350px;
  height: auto;
  top: 245%;
  left: 60%;
}

#timeline-header {
  background-color: $light-color;
  padding: 2rem 0;
  border-bottom: 1rem double $dark-color;
}

.container {
  justify-content: center;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  line-height: 2rem;
  color: $light-color;
  text-transform: uppercase;
  font-family: "manrope", sans-serif;
  text-shadow: 5px 5px 0 rgb(20, 19, 19), -2px -2px 0 rgb(29, 24, 24),
    2px -2px 0 rgb(27, 15, 15), -2px 2px 0 rgb(16, 15, 15),
    2px 2px 0 rgb(13, 12, 12);

  &__logo {
    margin: 5px;
  }

  &__content {
    font-size: 2.3rem;
    width: 200px;
    margin: 10px;
  }
}
.timeline__text {
  color: $font-light;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "manrope", sans-serif;
  text-shadow: 5px 5px 0 rgb(20, 19, 19), -2px -2px 0 rgb(29, 24, 24),
    2px -2px 0 rgb(27, 15, 15), -2px 2px 0 rgb(16, 15, 15),
    2px 2px 0 rgb(13, 12, 12);
}

.timeline__p {
  font-size: 1.2rem;
  padding: 1rem 1rem;
  font-family: "manrope", sans-serif;
  font-weight: 300;
}

#timeline ul {
  background: $light-color;
  padding: 50px 0;
}

// /* Create Line */
#timeline ul li {
  list-style: none;
  position: relative;
  width: 0.3rem;
  margin: 0 auto;
  padding-top: 4rem;
  background: $dark-color;
}

/* Boxes */
#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 350px;
  padding: 1rem;
  background: $box-color;
  transition: all 0.5s ease-in-out;
}

// /* Right Side */
#timeline ul li:nth-child(odd) div {
  left: 35px;
}

// /* Left Side */
#timeline ul li:nth-child(even) div {
  left: -380px;
}

// /* Dots */
#timeline ul li:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: inherit;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: background 0.5s ease-in-out;
}

// /* Arrows Base */
#timeline div:before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

// /* Right Side Arrows */
#timeline ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent $box-color transparent transparent;
}

// /* Left Side Arrows */
#timeline ul li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent $box-color;
}

///////* SLIDER *///////////////////////////////////////////////
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  background-color: $primary-color;

  /* IN THE END */
  overflow: hidden;

  .slide {
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 50rem;

    display: flex;
    align-items: center;
    justify-content: center;

    /* THIS creates the animation! */
    transition: transform 1s;

    .card-overlay {
      position: absolute;
      background-color: #7d7c7c7b;
      color: #fff;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: 0.7s;
      width: 800px;
      height: 600px;
      opacity: 0;

      .item-name {
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: capitalize;
        margin-bottom: 30px;
      }

      .btn-shop {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 60px;
        color: $font-dark;
        background-color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 0.3rem solid $font-dark;
        border-radius: 30px;
        outline: none;
        cursor: url(/assets/img/home/jacky2.png), pointer;
      }
    }
    img {
      width: 800px;
      height: 600px;
      object-fit: cover;
      image-rendering: -webkit-optimize-contrast;
    }
  }

  .slide:hover .card-overlay {
    opacity: 1;
    padding-top: 50px;
  }

  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;

    border: none;
    background: rgba(189, 189, 189, 0.375);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
  }

  .slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
  }

  .slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
  }

  .dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;

    /* Only necessary when overlying images */
    // box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
  }

  .dots__dot:last-child {
    margin: 0;
  }

  .dots__dot--active {
    background-color: #fff;
    background-color: #888;
    opacity: 1;
  }
}
@media (max-width: 1100px) {
  .slider {
    .slide {
      .card-overlay {
        opacity: 1;
      }
    }
  }
}
@media (max-width: 900px) {
  .slider {
    .slide {
      .card-overlay {
        opacity: 1;
      }
    }
  }
}
@media (max-width: 750px) {
  .slider {
    .slide {
      height: 50rem;
      .card-overlay {
        opacity: 1;
        height: 400px;
      }
    }
    .slider__btn {
      top: 56.4%;
      height: 3.5rem;
      width: 3.5rem;
      font-size: 2rem;
    }

    .slider__btn--left {
      left: 10%;
      transform: translate(-50%, -50%);
    }
    .slider__btn--right {
      right: 10%;
      transform: translate(50%, -50%);
    }
    .slide {
      img {
        height: 400px;
      }
    }
  }
}

//////////////////////////////////////////////////////////////
@media (max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }

  #timeline ul li:nth-child(even) div {
    left: -284px;
  }

  .about__img {
    width: 280px;
    height: auto;
    top: 280%;
    left: 60%;
  }

  .header-left {
    span {
      display: none;
    }
  }
}
@media (max-width: 700px) {
  .about__img {
    width: 280px;
    height: auto;
    top: 275%;
    left: 55%;
  }

  .header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header.active {
      background-color: $primary-color;
    }

    &-left {
      display: none;
    }

    &-middle {

      .hamburger {
        display: block;
      }
  
      .hamburger.active {
  
        .bar:nth-child(2) {
          opacity: 0;
        }
        .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
  
      .nav {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: $primary-color;
        width: 100%;
        text-align: center;
        transition: 0.3s;
  
        &-item {
          margin: 16px 0;
        }
      }
  
      .nav.active {
        left: 0;
      }
    }
  }

}
@media (max-width: 600px) {
  #timeline ul li {
    margin-left: 20px;
  }

  #timeline ul li div {
    width: calc(100vw - 90px);
  }

  #timeline ul li:nth-child(even) div {
    left: 40px;
  }

  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent $box-color transparent transparent;
  }

  .about__img {
    width: 270px;
    height: auto;
    top: 280%;
    left: 33%;
  }
}
