@import "variables";
@import "utilities";

// *::-webkit-scrollbar {
//   width: 0;
// }
// *::-webkit-scrollbar-track {
//   background: transparent;
// }
// *::-webkit-scrollbar-thumb {
//   background: transparent;
//   border: none;
// }
// * {
//   -ms-overflow-style: none;
// }
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

/* BASE STYLES */

body {
  // background-image: url("https://assets.hinge.co/Home_01_Hero_4cc39e87c6.jpg");
  background-color: $primary-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

h3 {
  font-family: "manrope", sans-serif;
  font-size: 30px;
  text-shadow: 5px 5px 0 rgb(20, 19, 19), -2px -2px 0 rgb(29, 24, 24),
    2px -2px 0 rgb(27, 15, 15), -2px 2px 0 rgb(16, 15, 15),
    2px 2px 0 rgb(13, 12, 12);
}
/* NORMAL STYLES */

/* Nav Bar*/
.header {
  border: black solid 1px;
  background-color: rgba($color: #000000, $alpha: 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  padding: 0 30px;
  color: $font-light;

  &-left {
    display: flex;
    column-gap: 30px;

    &-logo {
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    form {
      margin-left: 50px;
      background: $light-color;
      width: 200px;
      height: 30px;
      display: flex;

      input {
        flex: 1;
        border: none;
        outline: none;
        // border-radius: 25px;
      }

      button {
        display: none;
      }

      .fa-magnifying-glass {
        align-self: center;
        padding: 7px 10px;
        color: $font-dark;
      }
    }
  }

  &-right {
    display: flex;
    column-gap: 20px;
    list-style: none;
  }

  .nav {
    display: flex;
    column-gap: 40px;

    &-item {
      color: $light-color;

      &-link {
        font-size: 20px;
        transition: all 0.4s;

        &:hover {
          color: $font-dark;
        }

        &:focus {
          color: $font-dark;
        }

        &::after {
          content: " ";
          height: 3px;
          width: 100%;
          background: $font-dark;
          display: block;
          opacity: 0;
          transition: all 0.4s;
        }

        &:hover::after {
          opacity: 1;
        }

        &:focus::after {
          opacity: 1;
        }
      }
    }
  }
}

// Main section - hero
.hero {
  background: url("../assets/img/home/hero.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: $light-color;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
    text-transform: capitalize;

    &-text {
      font-size: 55px;
      margin-top: 100px;
      position: relative;
      text-transform: uppercase;
      font-family: "manrope", sans-serif;
      text-shadow: 5px 5px 0 rgb(20, 19, 19), -2px -2px 0 rgb(29, 24, 24),
        2px -2px 0 rgb(27, 15, 15), -2px 2px 0 rgb(16, 15, 15),
        2px 2px 0 rgb(13, 12, 12);
    }
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero * {
  z-index: 10;
}

///// review section ////////////////
.reviews {
  padding: 20px 30px;
  // background-color: $light-color;
  background-color: $primary-color;
  height: auto;
  h3 {
    padding: 10px 0;
    font-size: 30px;
    color: $font-light;
  }
  div {
    font-size: 35px;
    color: $dark-color;
  }
}
//////////////////////////
.content {
  width: 400px;
  height: 250px;
  &:nth-child(1) {
    background-color: $light-color;
  }
  &:nth-child(2) {
    background-color: $light-color;
  }
  &:nth-child(3) {
    background-color: $light-color;
  }
  &:nth-child(4) {
    background-color: $light-color;
  }
}
/* slide rail flame */
.wrap {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: auto;
  padding-top: 15px;
}
/* slides block*/
.slideshow {
  display: flex;
  -webkit-animation: loop-slide 20s infinite linear 1s both;
  animation: loop-slide 18s infinite linear 1s both;
}
@-webkit-keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* hover action -stop */
.slide-paused:hover .slideshow {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
/* hover action */
.content-hover {
  padding: 20px 10px;
  color: $font-dark;
  // color: $font-light;
  display: flex;
  align-items: flex-start;

  transition: all 0.2s;
  margin-right: 20px;
  &:hover {
    transform: translateY(-20px);
    border-radius: 0 10%;
    box-shadow: 0 3px 10px 0 #333;
    opacity: 0.8;
    cursor: pointer;
  }
}

/////////////// Footer ///////////////////////
footer {
  background-color: $light-color;
  color: $font-light;
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  h3 {
    font-size: 30px;
  }
  p {
    margin: 10px 0;
    font-size: 20px;
  }
  .footer-right {
    padding: 0 10px;
  }
  .footer-left {
    padding: 0 10px;
  }
  .footer-sns {
    display: flex;
    padding-top: 50px;
  }
  .footer-sns.icons {
    padding: 10px 0;
    i {
      padding: 0px 20px;
      height: 20px;
    }
  }
}

// About

.about-header {
  background: url(/assets/img/about/background.jpg) no-repeat center
    center/cover;
  height: 80vh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, 0.2);
  }
}
.about__img {
  display: inline-block;
  position: absolute;
  width: 350px;
  height: auto;
  top: 245%;
  left: 60%;
}

#timeline-header {
  background-color: $light-color;
  padding: 2rem 0;
  border-bottom: 1rem double $dark-color;
}

.container {
  justify-content: center;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  line-height: 2rem;
  color: $light-color;
  text-transform: uppercase;
  font-family: "manrope", sans-serif;
  text-shadow: 5px 5px 0 rgb(20, 19, 19), -2px -2px 0 rgb(29, 24, 24),
    2px -2px 0 rgb(27, 15, 15), -2px 2px 0 rgb(16, 15, 15),
    2px 2px 0 rgb(13, 12, 12);

  &__logo {
    margin: 5px;
  }

  &__content {
    font-size: 2.3rem;
    width: 200px;
    margin: 10px;
  }
}
.timeline__text {
  color: $font-light;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "manrope", sans-serif;
  text-shadow: 5px 5px 0 rgb(20, 19, 19), -2px -2px 0 rgb(29, 24, 24),
    2px -2px 0 rgb(27, 15, 15), -2px 2px 0 rgb(16, 15, 15),
    2px 2px 0 rgb(13, 12, 12);
}

.timeline__p {
  font-size: 1.2rem;
  padding: 1rem 1rem;
  font-family: "manrope", sans-serif;
  font-weight: 300;
}

#timeline ul {
  background: $light-color;
  padding: 50px 0;
}

// /* Create Line */
#timeline ul li {
  list-style: none;
  position: relative;
  width: 0.3rem;
  margin: 0 auto;
  padding-top: 4rem;
  background: $dark-color;
}

/* Boxes */
#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 350px;
  padding: 1rem;
  background: $box-color;
  transition: all 0.5s ease-in-out;
}

// /* Right Side */
#timeline ul li:nth-child(odd) div {
  left: 35px;
}

// /* Left Side */
#timeline ul li:nth-child(even) div {
  left: -380px;
}

// /* Dots */
#timeline ul li:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: inherit;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: background 0.5s ease-in-out;
}

// /* Arrows Base */
#timeline div:before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

// /* Right Side Arrows */
#timeline ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent $box-color transparent transparent;
}

// /* Left Side Arrows */
#timeline ul li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent $box-color;
}

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;

  .slide {
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 50rem;

    display: flex;
    align-items: center;
    justify-content: center;

    /* THIS creates the animation! */
    transition: transform 1s;

    .card-overlay {
      position: absolute;
      background-color: #7d7c7c7b;
      color: #fff;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: 0.7s;
      width: 800px;
      height: 600px;
      opacity: 0;

      .item-name {
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: capitalize;
        margin-bottom: 30px;
      }

      .btn-shop {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 60px;
        color: $font-dark;
        background-color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 0.3rem solid $font-dark;
        border-radius: 30px;
        outline: none;
        cursor: url(/assets/img/home/jacky2.png), pointer;
      }
    }
    img {
      width: 800px;
      height: 600px;
      object-fit: cover;
      image-rendering: -webkit-optimize-contrast;
    }
  }

  .slide:hover .card-overlay {
    opacity: 1;
    padding-top: 50px;
  }

  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;

    border: none;
    background: rgba(189, 189, 189, 0.375);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
  }

  .slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
  }

  .slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
  }

  .dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;

    /* Only necessary when overlying images */
    // box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
  }

  .dots__dot:last-child {
    margin: 0;
  }

  .dots__dot--active {
    background-color: #fff;
    background-color: #888;
    opacity: 1;
  }
}

@media (max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }

  #timeline ul li:nth-child(even) div {
    left: -284px;
  }

  .about__img {
    width: 280px;
    height: auto;
    top: 280%;
    left: 60%;
  }
}
@media (max-width: 700px) {
  .about__img {
    width: 280px;
    height: auto;
    top: 275%;
    left: 55%;
  }
}
@media (max-width: 600px) {
  #timeline ul li {
    margin-left: 20px;
  }

  #timeline ul li div {
    width: calc(100vw - 90px);
  }

  #timeline ul li:nth-child(even) div {
    left: 40px;
  }

  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent $box-color transparent transparent;
  }

  .about__img {
    width: 270px;
    height: auto;
    top: 280%;
    left: 50%;
  }
}
